h1 {
  font-family: 'Combo', cursive; }

h2 {
  font-family: 'Caladea', serif; }

header nav ul li a {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white; }

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white; }

p {
  font-family: 'Fira Sans', sans-serif; }

h4 {
  font-family: 'Fira Sans', sans-serif; }

form {
  font-family: 'Fira Sans', sans-serif; }

.gridIndex {
  display: grid;
  grid-template-areas: "sectionhead sectionhead sectionhead" "header header header" "main main main" "section-uno section-uno aside" "section-uno section-uno aside" "footer footer footer";
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 0.5fr; }

@media only screen and (max-width: 768px) {
  .gridIndex {
    display: grid;
    grid-template-areas: "header header" "main main" "section-uno section-uno" "section-dos section-dos" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto; }
  aside {
    display: none; }
  main div img {
    display: none; }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer {
    display: flex;
    flex-direction: column; }
  .logonone {
    display: none; } }

.gridNosotros {
  display: grid;
  grid-template-areas: "header header header" "main section-dos aside" "section-uno section-dos aside" "section-uno section-dos aside" "footer footer footer";
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 0.3fr; }

@media only screen and (max-width: 768px) {
  .gridNosotros {
    display: grid;
    grid-template-areas: "header header" "main main" "section-uno section-uno" "section-dos section-dos" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto; }
  aside {
    display: none; }
  main div img {
    display: none; }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer {
    display: flex;
    flex-direction: column; }
  .logonone {
    display: none; } }

.gridContacto {
  display: grid;
  grid-template-areas: "header header header" "main main aside" "section-uno section-dos aside" "section-uno section-dos aside" "footer footer footer";
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 0.3fr; }

@media only screen and (max-width: 768px) {
  .gridContacto {
    display: grid;
    grid-template-areas: "header header" "main main" "section-uno section-uno" "section-dos section-dos" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto; }
  aside {
    display: none; }
  main div img {
    display: none; }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer {
    display: flex;
    flex-direction: column; }
  .logonone {
    display: none; } }

.gridProductos {
  display: grid;
  grid-template-areas: "header header header" "main main aside" "section-prod section-prod aside" "section-prod section-prod aside" "footer footer footer";
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 0.3fr; }

@media only screen and (max-width: 768px) {
  .gridProductos {
    display: grid;
    grid-template-areas: "header header" "main main" "section-prod section-prod" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto; }
  aside {
    display: none; }
  main div img {
    display: none; }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer {
    display: flex;
    flex-direction: column; }
  .logonone {
    display: none; } }

.gridGaleria {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px; }

.gridImgMain {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px; }

.prodAnm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.prodAnm:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.mainAnm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.mainAnm:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.carrousel {
  width: 60%; }

.conteCarrousel {
  width: 100%;
  height: 500px;
  overflow: hidden; }

.itemCarrousel {
  position: relative;
  width: 100%;
  height: 100%; }

.itemCarrouselTarjeta {
  width: 100%;
  height: 100%; }

.itemCarrouselArrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; }

.itemCarrouselArrows > i:hover {
  cursor: pointer; }

#itemCarrousel-1 {
  background-color: #e23232; }

#itemCarrousel-2 {
  background-color: #32c8e2; }

#itemCarrousel-3 {
  background-color: #c8e232; }

.conteCarrouselController {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }

.conteCarrouselController > a {
  text-decoration: none;
  font-size: 2em;
  color: grey; }

.itemCarrouselArrows > a > i {
  color: black; }

.imgCarrousel {
  width: 100%;
  height: 100%; }

form {
  width: 300px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 20px;
  background: darkgrey; }
  form h3 {
    color: black;
    margin: 0;
    text-align: center;
    margin-bottom: 15px; }
  form input {
    width: 100%;
    margin-bottom: 8px;
    padding: 4px;
    box-sizing: border-box;
    font-size: 17px;
    border: none; }

#boton {
  background: white;
  padding: 10px;
  border: solid 1px black;
  border-radius: 20px;
  font-size: 15px;
  color: black; }

#boton:hover {
  cursor: pointer; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.body {
  background-image: url(../assets/img/bgimg.jpg);
  background-attachment: fixed; }

.header {
  grid-area: header;
  background-color: black;
  display: flex;
  border-bottom: solid black 1px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center; }

.headernos {
  grid-area: header;
  background-color: black;
  display: flex;
  border-bottom: solid black 1px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center; }

.headercont {
  grid-area: header;
  background-color: black;
  display: flex;
  border-bottom: solid black 1px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center; }

.headerprod {
  grid-area: header;
  background-color: black;
  display: flex;
  border-bottom: solid black 1px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center; }

.footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footernos {
  grid-area: footer;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footercont {
  grid-area: footer;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footerprod {
  grid-area: footer;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.main {
  grid-area: main; }

.mainnos {
  grid-area: main; }

.maincont {
  grid-area: main; }

.mainprod {
  grid-area: main; }

.aside {
  grid-area: aside; }

.asidenos {
  grid-area: aside; }

.asidecont {
  grid-area: aside; }

.asideprod {
  grid-area: aside; }

.section-uno {
  grid-area: section-uno; }

.section-uno-nos {
  grid-area: section-uno; }

.section-uno-cont {
  grid-area: section-uno; }

.section-prod {
  grid-area: section-prod; }

.section-dos {
  grid-area: section-dos;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-dos-nos {
  grid-area: section-dos; }

.section-dos-cont {
  grid-area: section-dos;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sectionhead {
  grid-area: sectionhead; }

header div h4 {
  color: white;
  font-size: 1rem;
  text-align: center; }

header ul {
  display: flex; }

header li {
  list-style-type: none;
  margin: 10px;
  padding: 20px; }

header a {
  text-decoration: none; }

.text-center {
  text-align: center; }

.justify {
  display: flex;
  justify-content: center; }

.divpreheader {
  background-color: white;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center; }

.divpreheaderh4 {
  color: black; }

.divheader {
  display: flex;
  flex-direction: row;
  align-items: center; }

footer div {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
  flex-direction: column; }

footer img {
  width: 40px;
  height: 40px; }

fieldset {
  display: flex;
  align-items: center; }

.botons {
  display: flex; }

.tah1 {
  text-align: center; }

.anchoimg {
  width: 100%; }

.mypnos {
  margin: 10px;
  padding: 10px; }

.mypind {
  margin: 8px;
  padding: 4px; }

.marginsbt {
  margin: 5px;
  padding: 2px; }

.padsbt {
  margin: 2px;
  padding: 10px; }

.dvft {
  display: flex;
  flex-direction: column; }

.w-100 {
  width: 100%; }

.inmn {
  margin-top: 30px;
  border: solid 1px black; }

.dpfl {
  display: flex;
  justify-content: center;
  background-color: whitesmoke; }

.dvlog {
  display: flex;
  flex-direction: row; }
