.prodAnm{display: flex; align-items: center; justify-content: center; border-radius: 4px; transition: transform 0.3s ease-in-out; background-size: cover; background-position: center; background-repeat: no-repeat;}

.prodAnm:hover {filter: opacity(0.9); transform: scale(1.04);}

.mainAnm{display: flex; align-items: center; justify-content: center; border-radius: 4px; transition: transform 0.3s ease-in-out; background-size: cover; background-position: center; background-repeat: no-repeat;}

.mainAnm:hover {filter: opacity(0.9); transform: scale(1.04);}