h1{font-family: 'Combo', cursive;}
h2{font-family: 'Caladea', serif;}
header nav ul li a{font-family: 'Oswald', sans-serif; font-size: 20px; color: black;}
h3{font-family: 'Source Sans Pro', sans-serif;}
p{font-family: 'Fira Sans', sans-serif;}
h4{font-family: 'Fira Sans', sans-serif;}