.gridIndex{
	display: grid;
	grid-template-areas:
	"header header header"
	"main main main"
	"section-uno section-uno aside"
	"section-uno section-uno aside"
	"footer footer footer" ;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 1fr 1fr 0.5fr;
}

@media only screen and (max-width: 768px){
	.gridIndex{
		display: grid;
		grid-template-areas:
		"header header"
		"main main"
		"section-uno section-uno"
		"section-dos section-dos"
		"footer footer" ;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
	}
	aside{display: none;}
	main div img{display: none;}
	nav ul{display: flex; flex-direction:column; align-items: center;}
	footer{display: flex; flex-direction: column;}
	.logonone{display: none;}
}

.gridNosotros{
	display: grid;
	grid-template-areas:
	"header header header"
	"main section-dos aside"
	"section-uno section-dos aside"
	"section-uno section-dos aside"
	"footer footer footer" ;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 1fr 1fr 0.3fr;
}

@media only screen and (max-width: 768px){
	.gridNosotros{
		display: grid;
		grid-template-areas:
		"header header"
		"main main"
		"section-uno section-uno"
		"section-dos section-dos"
		"footer footer" ;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
	}
	aside{display: none;}
	main div img{display: none;}
	nav ul{display: flex; flex-direction:column; align-items: center;}
	footer{display: flex; flex-direction: column;}
	.logonone{display: none;}
}


.gridContacto{
	display: grid;
	grid-template-areas:
	"header header header"
	"main main aside"
	"section-uno section-dos aside"
	"section-uno section-dos aside"
	"footer footer footer" ;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 1fr 1fr 0.3fr;
}

@media only screen and (max-width: 768px){
	.gridContacto{
		display: grid;
		grid-template-areas:
		"header header"
		"main main"
		"section-uno section-uno"
		"section-dos section-dos"
		"footer footer" ;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
	}
	aside{display: none;}
	main div img{display: none;}
	nav ul{display: flex; flex-direction:column; align-items: center;}
	footer{display: flex; flex-direction: column;}
	.logonone{display: none;}
}

.gridProductos{
	display: grid;
	grid-template-areas:
	"header header header"
	"main main aside"
	"section-prod section-prod aside"
	"section-prod section-prod aside"
	"footer footer footer" ;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 1fr 1fr 0.3fr;
}

@media only screen and (max-width: 768px){
	.gridProductos{
		display: grid;
		grid-template-areas:
		"header header"
		"main main"
		"section-prod section-prod"
		"footer footer" ;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto;
	}
	aside{display: none;}
	main div img{display: none;}
	nav ul{display: flex; flex-direction:column; align-items: center;}
	footer{display: flex; flex-direction: column;}
	.logonone{display: none;}
}

.gridGaleria{
	display: grid;
	grid-auto-rows: minmax(200px, auto);
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	padding: 20px;
}

.gridImgMain{
	display: grid;
	grid-auto-rows: minmax(200px, auto);
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	padding: 20px;
}
