@import "fuentes";
@import "map";
@import "mixins";
@import "extend";
@import "grids";
@import "animaciones";
@import "carrusel";
@import "form";

*{@include myp(0px, 0px); box-sizing: border-box;}

.body{background-image: url(../assets/img/bgimg.jpg); background-attachment: fixed;}

.header{grid-area: header; background-color:map-get($coloresPrincipales,colorBlack); display: flex; border-bottom: solid black 1px; justify-content:map-get($estilos,centro); flex-direction: column; flex-wrap: wrap; align-content: space-around; align-items:map-get($estilos,centro);}
.headernos{grid-area: header; background-color:map-get($coloresPrincipales,colorBlack); display: flex; border-bottom: solid black 1px; justify-content:map-get($estilos,centro); flex-direction: column; flex-wrap: wrap; align-content: space-around; align-items:map-get($estilos,centro);}
.headercont{grid-area: header; background-color:map-get($coloresPrincipales,colorBlack); display: flex; border-bottom: solid black 1px; justify-content:map-get($estilos,centro); flex-direction: column; flex-wrap: wrap; align-content: space-around; align-items:map-get($estilos,centro);}
.headerprod{grid-area: header; background-color:map-get($coloresPrincipales,colorBlack); display: flex; border-bottom: solid black 1px; justify-content:map-get($estilos,centro); flex-direction: column; flex-wrap: wrap; align-content: space-around; align-items:map-get($estilos,centro);}


.footer{grid-area: footer; background-color:map-get($coloresPrincipales,colorBlack); display:flex; justify-content: space-around; align-items:map-get($estilos,centro);}
.footernos{grid-area: footer; background-color:map-get($coloresPrincipales,colorBlack); display:flex; justify-content: space-around; align-items:map-get($estilos,centro);}
.footercont{grid-area: footer; background-color:map-get($coloresPrincipales,colorBlack); display:flex; justify-content: space-around; align-items:map-get($estilos,centro);}
.footerprod{grid-area: footer; background-color:map-get($coloresPrincipales,colorBlack); display:flex; justify-content: space-around; align-items:map-get($estilos,centro);}


.main{grid-area: main;}
.mainnos{grid-area: main; }
.maincont{grid-area: main; }
.mainprod{grid-area: main; }


.aside{grid-area: aside;}
.asidenos{grid-area: aside; }
.asidecont{grid-area: aside; }
.asideprod{grid-area: aside; }


.section-uno{grid-area: section-uno;}
.section-uno-nos{grid-area: section-uno; }
.section-uno-cont{grid-area: section-uno; }
.section-prod{grid-area: section-prod; }


.section-dos{grid-area: section-dos; display: flex; flex-direction: column; align-items:map-get($estilos,centro);}
.section-dos-nos{grid-area: section-dos; }
.section-dos-cont{grid-area: section-dos; display: flex; flex-direction: column; align-items:map-get($estilos,centro);}

.sectionhead{grid-area: sectionhead;}



header{
	div h4{color:map-get($coloresPrincipales,colorWhite); font-size: 1rem; text-align:map-get($estilos,centro);}
		ul{display: flex;}
			li{list-style-type: none; @include myp(10px, 20px)};
				a{text-decoration: none;}
}

.text-center{text-align:map-get($estilos,centro);}
.justify{display: flex; justify-content:map-get($estilos,centro);}
.divpreheader{background-color:map-get($coloresPrincipales,colorWhite); width:map-get($estilos,fullAncho); display: flex; position: absolute; justify-content: center;}
.divpreheaderh4{color: black;}
.divheader{display: flex; flex-direction: row; align-items: center;}

footer{
	div{display: flex; align-items:map-get($estilos,centro); margin: 10px; justify-content: center; flex-direction: column;}
		img{width: 40px; height: 40px;}
}

fieldset{display: flex; align-items: center;}

.botons{display: flex;}

.tah1{text-align:map-get($estilos,centro);}
.anchoimg{width:map-get($estilos,fullAncho);}

.mypnos{@include myp(10px, 10px)};
.mypind{@include myp(8px, 4px)};
.marginsbt{@include myp(5px, 2px)};
.padsbt{@include myp(2px, 10px)};

.dvft{display: flex; flex-direction: column;}
.w-100{width: 100%;}
.inmn{margin-top: 30px; border: solid 1px black;}
.dpfl{display: flex; justify-content: center; background-color: whitesmoke;}

.dvlog{display: flex; flex-direction: row;}